@model IEnumerable<AceVowEntities.PreviewDeals>
@{
    List<SelectListItem> CategoryList = ViewBag.lstCategoryList;

}
@{
    ViewBag.Title = "PreviewFlyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/css/FlyerStyle.css" rel="stylesheet" />*@

<div class="page-content">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Products</h5>
                </div>
                <!-- Additional info -->
                <div class="align-items-center ml-4 d-inline-flex">
                    <span class="h4 text-info mb-0 mr-2">9</span>
                    <span class="text-sm opacity-7 text-white">New users</span>
                </div>
                <!-- Optional link -->
                <a href="table-listing.html" class="text-sm text-info d-none d-lg-inline-block ml-4">See table</a>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                <!-- Filter input -->
                <form class="bg-neutral rounded-pill d-inline-block">
                    <div class="input-group input-group-sm input-group-merge input-group-flush">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent"><i class="far fa-filter"></i></span>
                        </div>
                        <input type="text" class="form-control form-control-flush" placeholder="Filter results">
                    </div>
                </form>
                <a href="#modal-user-create" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4" data-toggle="modal">
                    <span class="btn-inner--icon"><i class="far fa-plus"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-group my-4">
            CategoryList
            <div class="row">
                <div class="col-lg-4 offset-lg-4">
                    @Html.DropDownList("ddlCategoryList", new SelectList(CategoryList, "Value", "Text"), "--Select Category--", new { @class = "form-control" })
                </div>
            </div>
        </div>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="card card-product">
                        <div class="card-header border-0">
                            <h2 class="h6">
                                <a href="#">@item.Name</a>
                            </h2>
                        </div>
                        <!-- Product image -->
                        <figure class="figure">
                            <img alt="Image placeholder" src="https://alldealz.ca/ProductImages/@item.image" class="img-center img-fluid h-150">
                        </figure>
                        <div class="card-body">
                            <!-- Price -->
                            <div class="d-flex align-items-center mt-4">
                                @if (item.OfferPrice > 0)
                                {
                                    <span class="h6 mb-0 text-decoration-strike text-muted">$ @item.RegularPrice</span>
                                    <span class="h6 mb-0 mx-2 font-weight-bolder">$ @item.OfferPrice</span>
                                    <span class="badge badge-success rounded-pill ml-auto">In stock</span>
                                }
                                else
                                {

                                    <span class="h6 mb-0 mx-2 font-weight-bolder">$ @item.RegularPrice</span>
                                    <span class="badge badge-success rounded-pill ml-auto">In stock</span>
                                }



                            </div>
                        </div>
                        <div class="p-4 border-top">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <span class="h5 mb-0 text-success"> @item.SavingPercentage</span><sup>% </sup>saved on this product
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-none">
                            <div class="actions d-flex justify-content-between">
                                <a href="#" class="action-item">
                                    <i class="far fa-star"></i>
                                </a>
                                <a href="#" class="action-item">
                                    <i class="far fa-chart-pie"></i>
                                </a>
                                <a href="#" class="action-item text-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="flexSwitchCheckChecked" id="@item.ProductId" value="@item.ProductId">
                                    <label class="custom-control-label" for="@item.ProductId">Add Product</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        <div class="col-12 text-center">
            <button type="button" class="btn btn-primary rounded-pill" data-toggle="modal" data-target=".load-theme-modal">Load Theme</button>
        </div>
    </div>
</div>
<div class="modal fade load-theme-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title h6" id="myLargeModalLabel">Select Theme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary active">
                        <input type="radio" name="themeSelect" id="themeId1" autocomplete="off" value="1" checked> Theme 1
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="themeSelect" id="themeId2" value="2" autocomplete="off"> Theme 2
                    </label>
                    @*<label  class="d-none btn btn-primary">
                            <input type="radio" name="themeSelect" id="themeId3" value="3" autocomplete="off"> Theme 3
                        </label>*@
                    <label class="btn btn-primary">
                        <input type="radio" name="themeSelect" id="themeId4" value="4" autocomplete="off"> Theme 4
                    </label>
                    <label class="btn btn-primary">
                        <input type="radio" name="themeSelect" id="themeId6" value="6" autocomplete="off"> Theme 6
                    </label>
                    @*<label class="d-none btn btn-primary">
                            <input type="radio" name="themeSelect" id="themeId7" value="7" autocomplete="off"> Theme 7
                        </label>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" id="btnCat">Preview Template</button>
            </div>
        </div>
    </div>
</div>
<script>
//const { EALREADY } = require("constants");

    var lstProducts = [];
    $('input:checkbox').change(function () {

        if ($(this).is(':checked')) {
            var ProductId = $(this).val();
            if (lstProducts.length == 0) {
                lstProducts.push({ "ProductId": ProductId });
                return;
            }
            lstProducts.push({ "ProductId": ProductId });
            console.log("JJ"+ lstProducts);
        }
        else {
            var ProductId = $(this).val();

            lstProducts = lstProducts.filter(function (obj) {
                return obj.ProductId !== ProductId;
            });

        }

    });
    $('input:radio').change(function () {

        var ThemeId = $('input[name="themeSelect"]:checked').val();
       // alert(val);

    });
    $(document).ready(function () {

        $('#btnCat').on('click', function () {
            //console.log(lstProducts);
            //return;

             let loc = $(location).attr('href');
            var parts = loc.split('/');
            var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
         //   console.log(lastSegment);
            requestedPage = lastSegment;
          //  console.log(requestedPage);
            var DealId = requestedPage;

            var ThemeId = $('input[name="themeSelect"]:checked').val();
            if (ThemeId != lstProducts.length) {
                alert('Mismatch between theme and Product Selection');
                return;
            }
            //$.each(lstProducts, function (key, value) {
            //    lstProducts.push({"ProductId":value.ProductId, "ThemeId": ThemeId });
            //})
            var param = { lstPreview: lstProducts, ThemeId: ThemeId, DealId: DealId};
            $.ajax({
                type: "POST",
                url: "/Deals/SingleProductFlyer",
                dataType: "json",
                contentType: 'application/json',
                data: JSON.stringify(param),
                success: function (res) {
                   window.location = '@Url.Action("SingleProductFlyer", "Deals")'
                },
                error: function (res) {
                   window.location = '@Url.Action("SingleProductFlyer", "Deals")'
                }
            })
        });
        //qrCount(0);

    });
    $('.card-product').click(function () {
        if ($(this).hasClass('selected')) {
            $(this).removeClass('selected');
        } else {
            $(this).addClass('selected');
        }
        $(this).find('.custom-control-input').prop("checked", !$(this).find('.custom-control-input').prop("checked"));
        if ($(this).find('.custom-control-input').is(':checked')) {
            var ProductId = $(this).find('.custom-control-input').val();
            if (lstProducts.length == 0) {
                lstProducts.push({ "ProductId": ProductId });
                return;
            }
            lstProducts.push({ "ProductId": ProductId });
            console.log(JSON.stringify(lstProducts));
        }
        else {
            var ProductId = $(this).find('.custom-control-input').val();
            lstProducts = lstProducts.filter(function (obj) {
                return obj.ProductId !== ProductId;
            });
            console.log(JSON.stringify(lstProducts));
        }
    });
</script>