@model IEnumerable<AceVowEntities.PreviewDeals>

@{
    ViewBag.Title = "SingleProductFlyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/assets/css/products.css" rel="stylesheet" />*@
<style>
    /* Start of Product 8*/
    .template-header {
        background-color: #36327c;
        height: 22%;
        position: relative;
    }

    .template-footer {
        background-color: #2e2f61;
        width: 100%;
        height: 40px;
        color: #fff;
        font-family: Consolas;
        /* font-family: Comic Sans MS; */
    }

    .template-leftText {
        width: 35%;
        position: absolute;
        text-align: left;
        bottom: 0;
        color: #fff;
        left: 5%;
    }

        .template-leftText .text-1 {
            font-size: 30px;
            line-height: 100px;
            margin-left: 20px;
            font-family: Lucida Handwriting;
            font-style: italic;
            color: #fff;
        }

        .template-leftText .text-2 {
            font-size: 110px;
            font-family: 'Brush Script MT', cursive;
            line-height: 0;
            margin-bottom: 80px;
        }

    .template-banner {
        width: 420px;
        position: absolute;
        right: 5%;
        bottom: 0;
        background-color: #e12e27;
        text-align: center;
    }

        .template-banner .text-1 {
            font-size: 40px;
            font-weight: bold;
            color: #fff;
            margin-bottom: 25px;
            margin-top: 10px;
            font-weight: bold;
            letter-spacing: 2px;
            font-family: Franklin Gothic Medium;
        }

        .template-banner .text-2 {
            font-size: 100px;
            font-weight: bold;
            color: #fff;
            line-height: 30px;
            letter-spacing: 10px;
            margin-bottom: 40px;
            font-family: Snell Roundhand, cursive;
        }

        .template-banner .text-3 {
            color: #fff;
            font-weight: bold;
        }

    .arrow-red {
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 70px solid #e12e27;
        border-left: 210px solid transparent;
        border-bottom: 60px solid transparent;
        border-right: 210px solid transparent;
    }

    .arrow-blue {
        position: absolute;
        width: 0px;
        margin-left: 100px;
        margin-top: 20px;
        height: 0px;
        border-top: 35px solid #36327c;
        border-left: 110px solid transparent;
        border-bottom: 40px solid transparent;
        border-right: 110px solid transparent;
    }

    .left-panel,
    .right-panel {
        width: 50%;
    }

    .item-1 {
        padding: 10px;
        position: relative;
        margin-bottom: 20px;
    }

        .item-1 img {
            padding: 0px 40px;
            height: 180px;
        }

        .item-1 .price-badge {
            background: #e02f27;
            width: 110px;
            height: 110px;
            border-radius: 100%;
            text-align: center;
            align-items: center !important;
            display: flex !important;
            justify-content: center !important;
        }

            .item-1 .price-badge .price-original {
                margin-bottom: 20px;
                font-family: Impact, fantasy;
            }

            .item-1 .price-badge .span-kg {
                font-size: 12px;
                color: #fff;
                font-family: monospace;
            }

            .item-1 .price-badge .all-text {
                font-size: 45px;
                line-height: 0;
                font-family: Impact, fantasy;
            }

            .item-1 .price-badge .dollarSup {
                font-size: 30px;
            }

        .item-1 .strikethrough {
            position: relative;
        }

            .item-1 .strikethrough:before {
                position: absolute;
                content: "";
                left: 20%;
                width: 70%;
                top: 45%;
                right: 0;
                border-top: 2px solid;
                border-color: #3e3939;
                -webkit-transform: rotate(346deg);
                -moz-transform: rotate(346deg);
                -ms-transform: rotate(346deg);
                -o-transform: rotate(346deg);
                transform: rotate(350deg);
            }

        .item-1 .product-cover {
            position: absolute;
            bottom: -60px;
        }

        .item-1 .product-info {
            padding-left: 15px;
            align-self: flex-end !important;
        }

    .item-2 {
        padding: 10px;
        position: relative;
        padding-top: 110px;
    }

        .item-2 img {
            padding: 0px 40px;
            height: 150px;
            width: 90%;
        }

        .item-2 .price-badge {
            background: #e02f27;
            width: 110px;
            height: 110px;
            border-radius: 100%;
            text-align: center;
            align-items: center !important;
            display: flex !important;
            justify-content: center !important;
        }

            .item-2 .price-badge .price-original {
                margin-bottom: 20px;
                font-family: Impact, fantasy;
            }

            .item-2 .price-badge .span-kg {
                font-size: 12px;
                color: #fff;
                font-family: monospace;
            }

            .item-2 .price-badge .all-text {
                font-size: 45px;
                line-height: 0;
                font-family: Impact, fantasy;
            }

            .item-2 .price-badge .dollarSup {
                font-size: 30px;
            }

        .item-2 .strikethrough {
            position: relative;
        }

            .item-2 .strikethrough:before {
                position: absolute;
                content: "";
                left: 20%;
                width: 70%;
                top: 45%;
                right: 0;
                border-top: 2px solid;
                border-color: #3e3939;
                -webkit-transform: rotate(346deg);
                -moz-transform: rotate(346deg);
                -ms-transform: rotate(346deg);
                -o-transform: rotate(346deg);
                transform: rotate(350deg);
            }

        .item-2 .product-cover {
            position: absolute;
            top: 60px;
        }

        .item-2 .product-info {
            padding-left: 15px;
            align-self: flex-start !important;
        }

    .item-3 {
        padding: 10px;
        position: relative;
    }

        .item-3 img {
            height: 150px;
        }

        .item-3 .price-badge {
            background: transparent;
            width: 110px;
            height: 90px;
            border-radius: 100%;
            text-align: center;
            align-items: center !important;
            display: flex !important;
            justify-content: center !important;
        }

            .item-3 .price-badge .price-original {
                margin-bottom: 20px;
                font-family: Impact, fantasy;
            }

            .item-3 .price-badge .span-kg {
                font-size: 12px;
                color: #e02f27;
                font-family: monospace;
            }

            .item-3 .price-badge .all-text {
                font-size: 45px;
                line-height: 0;
                font-family: Impact, fantasy;
            }

            .item-3 .price-badge .dollarSup {
                font-size: 30px;
            }

        .item-3 .strikethrough {
            position: relative;
        }

            .item-3 .strikethrough:before {
                position: absolute;
                content: "";
                left: 20%;
                width: 70%;
                top: 45%;
                right: 0;
                border-top: 2px solid;
                border-color: #3e3939;
                -webkit-transform: rotate(346deg);
                -moz-transform: rotate(346deg);
                -ms-transform: rotate(346deg);
                -o-transform: rotate(346deg);
                transform: rotate(350deg);
            }

        .item-3 .product-cover {
            position: absolute;
            top: 0;
            right: 0;
            width: 60%;
        }

        .item-3 .product-info {
            padding-left: 15px;
            align-self: flex-start !important;
        }

    .item-4 {
        padding: 10px;
        position: relative;
        margin-top: 40px;
    }

        .item-4 img {
            width: 150px;
        }

        .item-4 .price-badge {
            background: transparent;
            border-radius: 100%;
            margin-top: 5px;
            text-align: center;
            align-items: center !important;
        }

            .item-4 .price-badge .price-original {
                margin-bottom: 0px;
                font-family: Impact, fantasy;
            }

            .item-4 .price-badge .span-kg {
                font-size: 12px;
                color: #e02f27;
                font-family: monospace;
            }

            .item-4 .price-badge .all-text {
                font-size: 35px;
                line-height: 18px;
                font-family: Impact, fantasy;
            }

            .item-4 .price-badge .dollarSup {
                font-size: 25px;
            }

        .item-4 .strikethrough {
            position: relative;
        }

            .item-4 .strikethrough:before {
                position: absolute;
                content: "";
                left: 20%;
                width: 70%;
                top: 45%;
                right: 0;
                border-top: 2px solid;
                border-color: #3e3939;
                -webkit-transform: rotate(346deg);
                -moz-transform: rotate(346deg);
                -ms-transform: rotate(346deg);
                -o-transform: rotate(346deg);
                transform: rotate(350deg);
            }

        .item-4 .product-cover {
            width: 100%;
        }

        .item-4 .product-info {
            padding-left: 15px;
            align-self: flex-start !important;
        }

    .item-6 {
        padding: 10px;
        position: relative;
        padding-top: 0;
    }

        .item-6 img {
            height: 180px;
        }

        .item-6 .price-badge {
            background: #e02f27;
            width: 110px;
            height: 110px;
            border-radius: 100%;
            text-align: center;
            align-items: center !important;
            display: flex !important;
            justify-content: center !important;
        }

            .item-6 .price-badge .price-original {
                margin-bottom: 20px;
                font-family: Impact, fantasy;
            }

            .item-6 .price-badge .span-kg {
                font-size: 12px;
                color: #fff;
                font-family: monospace;
            }

            .item-6 .price-badge .all-text {
                font-size: 45px;
                line-height: 0;
                font-family: Impact, fantasy;
            }

            .item-6 .price-badge .dollarSup {
                font-size: 30px;
            }

        .item-6 .strikethrough {
            position: relative;
        }

            .item-6 .strikethrough:before {
                position: absolute;
                content: "";
                left: 20%;
                width: 70%;
                top: 45%;
                right: 0;
                border-top: 2px solid;
                border-color: #3e3939;
                -webkit-transform: rotate(346deg);
                -moz-transform: rotate(346deg);
                -ms-transform: rotate(346deg);
                -o-transform: rotate(346deg);
                transform: rotate(350deg);
            }

        .item-6 .product-cover {
            position: absolute;
            right: 0px;
            top: 0;
        }

        .item-6 .product-info {
            padding-left: 15px;
            align-self: flex-end !important;
            width: 180px;
        }

    .item-7 {
        padding: 10px;
        position: relative;
        margin-top: 0px;
    }

        .item-7 img {
            width: 150px;
        }

        .item-7 .price-badge {
            background: transparent;
            border-radius: 100%;
            margin-top: 5px;
            text-align: center;
            align-items: center !important;
        }

            .item-7 .price-badge .price-original {
                margin-bottom: 0px;
                font-family: Impact, fantasy;
            }

            .item-7 .price-badge .span-kg {
                font-size: 12px;
                color: #e02f27;
                font-family: monospace;
            }

            .item-7 .price-badge .all-text {
                font-size: 35px;
                line-height: 18px;
                font-family: Impact, fantasy;
            }

            .item-7 .price-badge .dollarSup {
                font-size: 25px;
            }

        .item-7 .strikethrough {
            position: relative;
        }

            .item-7 .strikethrough:before {
                position: absolute;
                content: "";
                left: 20%;
                width: 70%;
                top: 45%;
                right: 0;
                border-top: 2px solid;
                border-color: #3e3939;
                -webkit-transform: rotate(346deg);
                -moz-transform: rotate(346deg);
                -ms-transform: rotate(346deg);
                -o-transform: rotate(346deg);
                transform: rotate(350deg);
            }

        .item-7 .product-cover {
            width: 100%;
        }

        .item-7 .product-info {
            padding-left: 15px;
            align-self: flex-start !important;
        }

    .text-red {
        color: #e02f27;
    }

    .w-50 {
        width: 50%;
    }

    .font-verySmall {
        font-size: 10px;
        line-height: 15px;
    }

    .bg-set {
        background-image: url("img/bg.jpg");
        background-repeat: repeat;
        border: 1px solid #efefef;
    }

    .gradient-effect {
        background: rgb(2, 0, 36);
        background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(216, 215, 237, 1) 0%, rgba(255, 255, 255, 1) 65%, rgba(153, 150, 198, 0.9051995798319328) 100%);
        height: 100%;
        width: 100%;
    }
    /*End of Product 8*/
</style>
<div class="container">
    <div class="row">
        @if (Model != null)
        {


            if (Model.Count() == 1)
            {
                @*Single Product*@

                <div class="mx-auto">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage1" style="width: 765px; height: 978px; padding: 20px; background: @ViewBag.ThemeColor !important;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2" style="padding: 0.45rem 1.5rem;">
                            <div class="logo" style="width: 150px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="d-flex align-self-center">
                                <span class=""><span class="text-black font-weight-bold" style="font-size: 30px;font-weight: bold;color: black !important;margin-left: 10px;">@ViewBag.DealName</span> </span>

                                @*<img style="width: 150px;" src="https://image.shutterstock.com/image-vector/modern-red-best-deals-sign-260nw-212919580.jpg">*@
                            </div>
                            <div style="width: 120px;padding: 15px 0px;">
                                <img style="width: 100%;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent" style="padding: 0.3rem 1.5rem;">
                                <span class="d-flex justify-content-between"><span class="text-white font-weight-bold" style="font-size: 30px;font-weight: bold;color: yellow !important;margin-left: 10px;">Hurry Up!!</span><span class="text-white" style="margin-top: 4px;font-weight: bold; font-size: 25px;">Deal from <span style="color: #ff0;">@ViewBag.SDay<sup>@ViewBag.SSup</sup> @ViewBag.SMonth </span>to<span style="color: #ff0;"> @ViewBag.EDay<sup>@ViewBag.ESup</sup> @ViewBag.EMonth</span>  @ViewBag.EYear</span>                                </span>
                            </li>
                        </ul>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="card-body text-left pt-0 bg-white" style="position: relative; height: 579.03px">
                                    <div class="card-image d-flex justify-content-center">
                                        <figure class="figure" style="height: 400px;">
                                            <a href="#">
                                                <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid " style="height: 100%;" />
                                            </a>
                                        </figure>
                                        @if (item.SavingPercentage > 0)
                                        {
                                            <img alt="Image placeholder" src="~/Content/assets/img/offers/3_1.png" class="img-center img-fluid w-100" style="position: absolute; left: 0; margin: 20px; width: 170px !important; top: 0;" />
                                            <div class="Offer_POS-1">
                                                <div class="align-self-center Offer-percentage-text"><span>@item.SavingPercentage</span>%</div>
                                                <span class="align-self-center Offer-Off-Text">OFF</span>
                                            </div>
                                        }

                                    </div>
                                    <p class="h5 font-weight-500"><a href="#" style="font-size: 30px;color: #000;font-weight: bold;">@item.Name<span class="text-warning font-weight-900"> </span></a></p>

                                    @if (item.OfferPrice > 0)
                                    {
                                        <span class="h3 text-success" style="font-size: 30px;font-weight: bold;">$ @item.OfferPrice<span class="text-line-through text-muted ml-2 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                    }
                                    else
                                    {
                                        <span class="h3 text-success" style="font-size: 30px;font-weight: bold;">
                                            $ @item.RegularPrice
                                        </span>
                                    }
                                </div>
                            }
                        }
                        <div class="card-footer bg-transparent text-center">
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text mt-2 text-white font-weight-bold" style="font-size: 20px;">@ViewBag.Address</p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text text-white mt-2 mb-0 font-weight-bold" style="font-size: 20px;">Contact us for more information</p>
                                    <p class="font-weight-bold text-white" style="font-size: 20px;"><i class="fas fa-phone fa-rotate-90 mr-2"></i>@ViewBag.PirmaryContact</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Single Product*@
            }
            else if (Model.Count() == 2)
            {
                @*Two Products*@
                <div class="mx-auto">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage2" style="width: 765px; height: 978px; padding: 20px; background: @ViewBag.ThemeColor !important;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2" style="padding: 0.45rem 1.5rem;">
                            <div class="logo" style="width: 150px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="d-flex align-self-center">
                                <span class=""><span class="text-black font-weight-bold" style="font-size: 30px;font-weight: bold;color: black !important;margin-left: 10px;">@ViewBag.DealName</span> </span>

                                @*<img style="width: 150px;" src="https://image.shutterstock.com/image-vector/modern-red-best-deals-sign-260nw-212919580.jpg">*@
                            </div>
                            <div style="width: 120px;padding: 15px 0px;">
                                <img style="width: 100%;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent" style="padding: 0.3rem 1.5rem;">                                <span class="d-flex justify-content-between">                                    <span class="text-white font-weight-bold" style="font-size: 30px;font-weight: bold;color: yellow !important;margin-left: 10px;">Hurry Up!!</span>                                    <span class="text-white" style="margin-top: 4px;font-weight: bold; font-size: 25px;">Deal Starts <span style="color: #ff0;">@ViewBag.SDay<sup>@ViewBag.SSup</sup> @ViewBag.SMonth </span>to<span style="color: #ff0;"> @ViewBag.EDay<sup>@ViewBag.ESup</sup> @ViewBag.EMonth</span>  @ViewBag.EYear</span>                                </span>                            </li>
                        </ul>
                        <div class="d-flex align-items-center bg-white" style="position: relative; height: 579.03px">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="card-body text-left pt-0 bg-white col-6 d-flex flex-column" style="height: 580px;">
                                        <div class="card-image d-flex justify-content-center" style="height: 100%;">
                                            <figure class="figure d-flex align-items-center">
                                                <a href="#">
                                                    <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100 mt-6">
                                                </a>
                                            </figure>
                                            @if (item.SavingPercentage > 0)
                                            {
                                                <img alt="Image placeholder" src="~/Content/assets/img/offers/5_1.png" class="img-center img-fluid w-100" style="position: absolute; left: 0; width: 100px !important; top: 30px; margin: 10px;" />
                                                <div class="Offer_POS-2">
                                                    <div class="align-self-center Offer-percentage-text"><span>@item.SavingPercentage</span>%</div>
                                                    <span class="align-self-center Offer-Off-Text">OFF</span>
                                                </div>
                                            }
                                        </div>
                                        <p class="h5 font-weight-500"><a href="#" style="color: #000;font-weight: bold;">@item.Name<span class="text-warning font-weight-900"> </span></a></p>

                                        @if (item.OfferPrice > 0)
                                        {
                                            <span class="h3 text-success mb-5" style="font-size: 30px;font-weight: bold;">$ @item.OfferPrice<span class="text-line-through text-muted ml-2 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                        }
                                        else
                                        {
                                            <span class="h3 text-success mb-5" style="font-size: 30px;font-weight: bold;">
                                                $ @item.RegularPrice
                                            </span>
                                        }

                                    </div>
                                }
                            }
                        </div>
                        <div class="card-footer bg-transparent text-center">
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text mt-2 text-white font-weight-bold" style="font-size: 20px;">@ViewBag.Address</p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text text-white mt-2 mb-0 font-weight-bold" style="font-size: 20px;">Contact us for more information</p>
                                    <p class="font-weight-bold text-white" style="font-size: 20px;"><i class="fas fa-phone fa-rotate-90 mr-2"></i>@ViewBag.PirmaryContact</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Two Products*@
            }
            else if (Model.Count() == 4)
            {
                @*Start of Four Products*@
                <div class="mx-auto">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage4" style="width: 765px; height: 978px; padding: 20px; background: @ViewBag.ThemeColor !important;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2" style="padding: 0.45rem 1.5rem;">
                            <div class="logo" style="width: 150px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="d-flex align-self-center">
                                <span class=""><span class="text-black font-weight-bold" style="font-size: 30px;font-weight: bold;color: black !important;margin-left: 10px;">@ViewBag.DealName</span> </span>

                                @*<img style="width: 150px;" src="https://image.shutterstock.com/image-vector/modern-red-best-deals-sign-260nw-212919580.jpg">*@
                            </div>
                            <div style="width: 120px;padding: 15px 0px;">
                                <img style="width: 100%;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent" style="padding: 0.3rem 1.5rem;">                                <span class="d-flex justify-content-between">                                    <span class="text-white font-weight-bold" style="font-size: 30px;font-weight: bold;color: yellow !important;margin-left: 10px;">Hurry Up!!</span>                                    <span class="text-white" style="margin-top: 4px;font-weight: bold; font-size: 25px;">Deal Starts <span style="color: #ff0;">@ViewBag.SDay<sup>@ViewBag.SSup</sup> @ViewBag.SMonth </span>to<span style="color: #ff0;"> @ViewBag.EDay<sup>@ViewBag.ESup</sup> @ViewBag.EMonth</span>  @ViewBag.EYear</span>                                </span>                            </li>
                        </ul>
                        <div class="d-flex flex-wrap align-items-center bg-white" style="height: 618.03px">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="card-body text-left pt-0 bg-white col-6" style="position: relative; border: 1px solid #efefef;">
                                        <div class="card-image d-flex justify-content-center">
                                            <figure class="figure d-flex align-items-center" style="max-height: 150px;">
                                                <a href="#">
                                                    <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100" style="max-height: 150px;">
                                                </a>
                                            </figure>
                                            @if (item.SavingPercentage > 0)
                                            {
                                                <img alt="Image placeholder" src="~/Content/assets/img/offers/6_1.png" class="img-center img-fluid w-100" style="position: absolute; left: 0; width: 70px !important; top: 0; margin: 5px;" />
                                                <div class="Offer_POS-4">
                                                    <div class="align-self-center Offer-percentage-text"><span>@item.SavingPercentage</span>%</div>
                                                    <span class="align-self-center Offer-Off-Text">OFF</span>
                                                </div>
                                            }
                                        </div>
                                        <p class="h5 font-weight-500"><a href="#" style="font-size: 25px;color: #000;font-weight: bold;">@item.Name<span class="text-warning font-weight-900"></span></a></p>
                                        @if (item.OfferPrice > 0)
                                        {
                                            <span class="h3 text-success" style="font-size: 25px;font-weight: bold;">$ @item.OfferPrice<span class="text-line-through text-muted ml-2 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                        }
                                        else
                                        {
                                            <span class="h3 text-success" style="font-size: 25px;font-weight: bold;">
                                                $ @item.RegularPrice
                                            </span>
                                        }


                                    </div>
                                }
                            }
                        </div>
                        <div class="card-footer bg-transparent text-center">
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text mt-2 text-white font-weight-bold" style="font-size: 20px;">@ViewBag.Address</p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text text-white mt-2 mb-0 font-weight-bold" style="font-size: 20px;">Contact us for more information</p>
                                    <p class="font-weight-bold text-white" style="font-size: 20px;"><i class="fas fa-phone fa-rotate-90 mr-2"></i>@ViewBag.PirmaryContact</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Four Products*@
            }
            else if (Model.Count() == 6)
            {
                @*Start of Four Products*@
                <div class="mx-auto">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage6" style="width: 765px; height: 978px; padding: 20px; background: @ViewBag.ThemeColor !important;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2" style="padding: 0.45rem 1.5rem;">
                            <div class="logo" style="width: 150px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="d-flex align-self-center">
                                <span class=""><span class="text-black font-weight-bold" style="font-size: 30px;font-weight: bold;color: black !important;margin-left: 10px;">@ViewBag.DealName</span> </span>

                                @*<img style="width: 150px;" src="https://image.shutterstock.com/image-vector/modern-red-best-deals-sign-260nw-212919580.jpg">*@
                            </div>
                            <div style="width: 120px;padding: 15px 0px;">
                                <img style="width: 100%;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent" style="padding: 0.3rem 1.5rem;">
                                <span class="d-flex justify-content-between">
                                    <span class="text-white font-weight-bold" style="font-size: 30px;font-weight: bold;color: yellow !important;margin-left: 10px;">Hurry Up!!</span>                                    <span class="text-white" style="margin-top: 4px;font-weight: bold; font-size: 25px;">Deal Starts <span style="color: #ff0;">@ViewBag.SDay<sup>@ViewBag.SSup</sup> @ViewBag.SMonth </span>to<span style="color: #ff0;"> @ViewBag.EDay<sup>@ViewBag.ESup</sup> @ViewBag.EMonth</span>  @ViewBag.EYear</span>
                                </span>
                            </li>
                        </ul>
                        <div class="d-flex flex-wrap align-items-center bg-white" style="height: 618.03px">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="card-body text-left pt-0 bg-white col-4" style="position: relative; border: 1px solid #efefef;height:309px">
                                        <div class="card-image d-flex justify-content-center">
                                            <figure class="figure d-flex align-items-center" style="max-height: 150px;">
                                                <a href="#">
                                                    <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100" style="max-height: 150px;">
                                                </a>
                                            </figure>
                                            @if (item.SavingPercentage > 0)
                                            {

                                                <img alt="Image placeholder" src="~/Content/assets/img/offers/6_1.png" class="img-center img-fluid w-100" style="position: absolute; left: 0; width: 70px !important; top: 0; margin: 5px;" />
                                                <div class="Offer_POS-6">
                                                    <div class="align-self-center Offer-percentage-text"><span>@item.SavingPercentage</span>%</div>
                                                    <span class="align-self-center Offer-Off-Text">OFF</span>
                                                </div>
                                            }
                                        </div>
                                        <p class="h5 font-weight-500"><a href="#" style="font-size: 15px;color: #000;font-weight: bold;">@item.Name<span class="text-warning font-weight-900"></span></a></p>
                                        @if (item.OfferPrice > 0)
                                        {
                                            <span class="h3 text-success" style="font-size: 20px;font-weight: bold;">$ @item.OfferPrice<span class="text-line-through text-muted ml-2 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                        }
                                        else
                                        {
                                            <span class="h3 text-success" style="font-size: 20px;font-weight: bold;">
                                                $ @item.RegularPrice
                                            </span>
                                        }


                                    </div>
                                }
                            }
                        </div>
                        <div class="card-footer bg-transparent text-center">
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text text-white font-weight-bold" style="font-size: 20px;">@ViewBag.Address</p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text text-white mb-0 font-weight-bold" style="font-size: 20px;">Contact us for more information</p>
                                    <p class="font-weight-bold text-white" style="font-size: 20px;"><i class="fas fa-phone fa-rotate-90 mr-2"></i>@ViewBag.PirmaryContact</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Four Products*@
            }
            else if (Model.Count() == 7)
            {
                @*Start of Seven Products*@
                <div class="col-12 col-md-7 mx-auto d-none">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage7" style="padding: 20px;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2">
                            <div class="logo" style="width: 80px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="text-center">
                                <p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>
                            </div>
                            <div style="width: 80px;">
                                <img style="width: 80px;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold">Hurry Up!!</span><span class="text-white">Deal Starts 24<sup>Th</sup> OCT to 3<sup>rd</sup> NOV 2021</span></span></li>
                        </ul>

                        <div class="d-flex flex-wrap">
                            @{int i = 0;}
                            @if (Model != null)
                            {
                                var last = Model.Last();

                                foreach (var item in Model)
                                {
                                    <span>i</span>
                                    {
                                        i++;
                                    }
                                    if (item.Equals(last))
                                    {
                                        <div class="card-body text-left pt-0 bg-white col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="card-image d-flex justify-content-center">
                                                        <figure class="figure d-flex align-items-center">
                                                            <a href="#">
                                                                <img alt="Image placeholder" style="max-height: 250px;" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <p class="h4 font-weight-bold mt-50 text-uppercase"><a href="#">@item.Name<span class="text-warning font-weight-900"></span></a></p>

                                                    @if (item.OfferPrice > 0)
                                                    {
                                                        <span class="h3 text-success font-weight-900">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="h3 text-success font-weight-900">
                                                            $ @item.RegularPrice
                                                        </span>
                                                    }

                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card-body text-left pt-0 bg-white col-4">
                                            <div class="card-image d-flex justify-content-center">
                                                <figure class="figure d-flex align-items-center">
                                                    <a href="#">
                                                        <img alt="Image placeholder" style="max-height: 170px;" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                                    </a>
                                                </figure>
                                            </div>
                                            <p class="h6 font-weight-500"><a href="#">@item.Name<span class="text-warning font-weight-900"></span></a></p>
                                            <span class="h6 text-success font-weight-900">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>
                                        </div>
                                    }

                                }
                            }
                        </div>
                        <div class="card-footer bg-white">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text text-center mt-0 text-sm mb-0">@ViewBag.Address</p>
                                    <p class="text-sm text-center mb-0"><i class="fas fa-phone fa-rotate-90 mr-2 text-sm"></i>@ViewBag.PirmaryContact</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Seven Products*@
            }

            else if (Model.Count() == 8)
            {



                <div class="container">
                    <div class="card mx-auto mt-5 mb-5 bg-set product-8" style="width: 765px; height: 978px;">
                        <div class="gradient-effect">
                            <div class="template-header">
                                <div class="template-leftText">
                                    <h4 class="text-1 text-white">Super</h4>
                                    <h4 class="text-2 text-white ">Sale</h4>
                                </div>
                                <div class="template-banner">
                                    <h4 class="text-1">BIG PRICE</h4>
                                    <h4 class="text-2">DROP</h4>
                                    <p class="text-3">On Everyday Item in my store</p>
                                    <div class="arrow-red"></div>
                                    <div class="arrow-blue"></div>
                                </div>
                            </div>


                            <div class="d-flex flex-row">
                                @{int i = 0;
                                }
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        {
                                            i++;
                                        }
                                        <div class="left-panel">
                                            @if (i.Equals(1))
                                            {
                                                <div class="item-1">
                                                    <img src="data:image/png;base64,@item.image" width="100%" alt="Products Image">
                                                    <div class="product-cover">
                                                        <div class="d-flex justify-content-start">
                                                            <div class="align-self-end">
                                                                <div class="price-badge">
                                                                    <div class="text-white">
                                                                        <h4 class="price-original text-white strikethrough"><sup>$</sup>@item.RegularPrice</h4>
                                                                        <div class="text-white">
                                                                            <h4 class="all-text text-white">
                                                                                <sup class="dollarSup">$</sup>@item.OfferPrice<span class="span-kg">/@item.Quantity</span>
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-info">
                                                                <h4 class="mb-0 font-weight-bold">@item.Name</h4>
                                                                @*<small>Lorem Ipsum dolor sit amet amit rupayana liat kau</small>*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            @if (i.Equals(2))
                                            {
                                                <div class="item-2">
                                                    <img src="data:image/png;base64,@item.image" width="100%" alt="Products Image">
                                                    <div class="product-cover">
                                                        <div class="d-flex justify-content-start">
                                                            <div class="product-info">
                                                                <h4 class="mb-0 font-weight-bold">@item.Name</h4>
                                                                @*<small>Lorem Ipsum dolor sit amet amit rupayana liat kau</small>*@
                                                            </div>
                                                            <div class="align-self-end">
                                                                <div class="price-badge">
                                                                    <div class="text-white">
                                                                        <h4 class="price-original text-white strikethrough"><sup>$</sup>@item.RegularPrice</h4>
                                                                        <div class="text-white">
                                                                            <h4 class="all-text text-white">
                                                                                <sup class="dollarSup">$</sup>@item.OfferPrice<span class="span-kg">/@item.Quantity</span>
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                            @if (i.Equals(3))
                                            {
                                                <div class="item-3">
                                                    <img src="data:image/png;base64,@item.image" alt="Products Image">
                                                    <div class="product-cover">
                                                        <div class="align-self-end">
                                                            <div class="price-badge">
                                                                <div class="text-red">
                                                                    <h4 class="text-red price-original strikethrough"><sup>$</sup>@item.RegularPrice</h4>
                                                                    <div class="text-red">
                                                                        <h4 class="all-text text-red">
                                                                            <sup class="dollarSup">$</sup>@item.OfferPrice<span class="span-kg">/@item.Quantity</span>
                                                                        </h4>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="">
                                                            <div class="product-info">
                                                                <h4 class="mb-0 font-weight-bold">@item.Name</h4>
                                                                @*<small>Lorem Ipsum dolor sit amet amit rupayana liat kau</small>*@
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                        </div>
                                        <div class="right-panel">
                                            <div class="d-flex flex-row">
                                                @if (i.Equals(4))
                                                {
                                                    <div class="item-4 w-50">
                                                        <img src="data:image/png;base64,@item.image" alt="Products Image">
                                                        <div class="product-cover">
                                                            <div class="align-self-end">
                                                                <div class="price-badge">
                                                                    <div class="text-red d-flex flex-row justify-content-between">
                                                                        <h4 class="text-red price-original strikethrough px-4"><sup>$</sup>@item.RegularPrice</h4>
                                                                        <div class="text-red pr-4">
                                                                            <h4 class="all-text text-red mb-0">
                                                                                <sup class="dollarSup">$</sup>@item.OfferPrice<span class="span-kg">/@item.Quantity</span>
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <div class="product-info">
                                                                    <h6 class="mb-0 font-weight-bold">@item.Name</h6>
                                                                    <p class="d-none font-verySmall mt-2 mb-0">
                                                                        Lorem Ipsum dolor sit amet amit rupayana
                                                                        liat
                                                                        kau
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (i.Equals(5))
                                                {
                                                    <div class="item-4 w-50">
                                                        <img src="data:image/png;base64,@item.image" alt="Products Image">
                                                        <div class="product-cover">
                                                            <div class="align-self-end">
                                                                <div class="price-badge">
                                                                    <div class="text-red d-flex flex-row justify-content-between">
                                                                        <h4 class="text-red price-original strikethrough px-4"><sup>$</sup>@item.RegularPrice</h4>
                                                                        <div class="text-red pr-4">
                                                                            <h4 class="all-text text-red mb-0">
                                                                                <sup class="dollarSup">$</sup>@item.OfferPrice<span class="span-kg">/@item.Quantity</span>
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <div class="product-info">
                                                                    <h6 class="mb-0 font-weight-bold">@item.Name</h6>
                                                                    <p class="d-none font-verySmall mt-2 mb-0">
                                                                        Lorem Ipsum dolor sit amet amit rupayana
                                                                        liat
                                                                        kau
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                }


                                            </div>
                                            @if (i.Equals(6))
                                            {
                                                <div class="item-6">
                                                    <img src="data:image/png;base64,@item.image" alt="Products Image">
                                                    <div class="product-cover">
                                                        <div class="d-flex flex-column">
                                                            <div class="align-self-end mr-5">
                                                                <div class="price-badge">
                                                                    <div class="text-white">
                                                                        <h4 class="text-white price-original strikethrough"><sup>$</sup>@item.RegularPrice</h4>
                                                                        <div class="text-white">
                                                                            <h4 class="all-text text-white">
                                                                                <sup class="dollarSup">$</sup>@item.OfferPrice<span class="span-kg">/@item.Quantity</span>
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="product-info">
                                                                <h5 class="mb-0 font-weight-bold">@item.Name</h5>
                                                                <p class="d-none font-verySmall mt-2 mb-0">
                                                                    Lorem Ipsum dolor sit amet amit rupayana
                                                                    liat
                                                                    kau
                                                                </p>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            }


                                            <div class="d-flex flex-row">
                                                @if (i.Equals(7))
                                                {
                                                    <div class="item-7 w-50">
                                                        <div class="product-cover">
                                                            <div class="align-self-end">
                                                                <div class="price-badge">
                                                                    <div class="text-red d-flex flex-row justify-content-between">
                                                                        <h4 class="text-red price-original strikethrough px-4"><sup>$</sup>@item.RegularPrice</h4>
                                                                        <div class="text-red pr-4">
                                                                            <h4 class="all-text text-red mb-0">
                                                                                <sup class="dollarSup">$</sup>@item.OfferPrice<span class="span-kg">/@item.Quantity</span>
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <div class="product-info">
                                                                    <h6 class="mb-0 font-weight-bold">@item.Name</h6>
                                                                    <p class="d-none font-verySmall mt-2 mb-0">
                                                                        Lorem Ipsum dolor sit amet amit rupayana
                                                                        liat
                                                                        kau
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <img src="data:image/png;base64,@item.image" alt="Products Image">

                                                    </div>
                                                }
                                                @if (i.Equals(8))
                                                {
                                                    <div class="item-7 w-50">

                                                        <div class="product-cover">
                                                            <div class="align-self-end">
                                                                <div class="price-badge">
                                                                    <div class="text-red d-flex flex-row justify-content-between">
                                                                        <h4 class="text-red price-original strikethrough px-4"><sup>$</sup>@item.RegularPrice</h4>
                                                                        <div class="text-red pr-4">
                                                                            <h4 class="all-text text-red mb-0">
                                                                                <sup class="dollarSup">$</sup>@item.OfferPrice<span class="span-kg">/@item.Quantity</span>
                                                                            </h4>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="">
                                                                <div class="product-info">
                                                                    <h6 class="mb-0 font-weight-bold">@item.Name</h6>
                                                                    <p class="d-none font-verySmall mt-2 mb-0">
                                                                        Lorem Ipsum dolor sit amet amit rupayana
                                                                        liat
                                                                        kau
                                                                    </p>
                                                                </div>

                                                            </div>
                                                        </div>
                                                        <img src="data:image/png;base64,@item.image" alt="Products Image">
                                                    </div>
                                                }


                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                            <div class="template-footer d-flex flex-row justify-content-around">
                                <p class="align-self-center m-0">contact us: <span>0280 132 4465</span></p>
                                <p class="align-self-center m-0">website: <span>www.sample.com</span></p>
                                <p class="align-self-center m-0">mail to: <span>sample@sample.com</span></p>
                            </div>

                        </div>
                    </div>
                </div>




            }
            else if (Model.Count() == 9)
            {

            }

        }
        <div class="offset-3 col-lg-6 text-center">
            <button onclick="downloadimage()" class="btn btn-primary">Click To Download Image</button>
        </div>
    </div>
</div>


<script src="~/Content/assets/libs/html2canavas/html2canvas.js"></script>
<script type="text/javascript">

        function downloadimage() {
            var container= '@Session["FlyerType"]'
            if (container == null) {
                container = document.getElementById('htmltoimage'); // full page
            }
            else {
                var container = document.getElementById('htmltoimage' + container); // full page
            }

                html2canvas(container, { useCORS: true }).then(function (canvas) {
                var imgBase64 = canvas.toDataURL();

                var imgURL = "data:image/" + imgBase64;
                var triggerDownload = $("<a>").attr("href", imgURL).attr("download", "layout_" + new Date().getTime() + ".jpeg").appendTo("body");
                triggerDownload[0].click();
                triggerDownload.remove();
            });
        }
        var requestedPage = null;
        $(document).ready(function () {

            //let loc = $(location).attr('href');
            //var parts = loc.split('/');
            //var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
            //console.log(lastSegment);
            //requestedPage = lastSegment;
            //console.log(requestedPage);
            var requestedPage= '@Session["FlyerType"]';
            $('#product-' + requestedPage).removeClass('d-none');
        });

        /**/</script>


