@model IEnumerable<AceVowEntities.PreviewDeals>

@{
    ViewBag.Title = "SingleProductFlyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @if (Model != null)
        {
            if (Model.Count() == 1)
            {
                @*Single Product*@
                <div class="col-12 col-md-5 mx-auto">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage1" style="padding: 20px;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2">
                            <div class="logo" style="width: 80px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="text-center">
                                <p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>
                            </div>
                            <div style="width: 80px;">
                                <img style="width: 80px;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold">Hurry Up!!</span><span class="text-warning">Deal Starts 24<sup>Th</sup> OCT to 3<sup>rd</sup> NOV 2021</span></span></li>
                        </ul>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="card-body text-left pt-0 bg-white">
                                    <div class="card-image d-flex justify-content-center">
                                        <figure class="figure">
                                            <a href="#">
                                                <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                            </a>
                                        </figure>
                                    </div>
                                    <p class="h5 font-weight-500"><a href="#">@item.Name</a></p>
                                    @if (item.OfferPrice > 0)
                                    {
                                        <span class="h3 text-success">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                    }
                                    else
                                    {
                                        <span class="h3 text-success">$ @item.RegularPrice</span>
                                    }

                                </div>
                            }
                        }
                        <div class="card-footer bg-white">
                            <div class="row">
                                <div class="col-6">
                                    <p class="card-text mt-2">4525, Ebenezer Road, unit #6, Brampton, ONT, L69 2k8.</p>
                                </div>
                                <div class="col-6">
                                    <p class="card-text mt-2 mb-0">Contact us for more information</p>
                                    <p><i class="fas fa-phone fa-rotate-90 mr-2"></i>(905) 913-7667</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Single Product*@
            }
            else if (Model.Count() == 2)
            {
                @*Two Products*@
                <div class="col-12 col-md-5 mx-auto">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage2" style="padding: 20px;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2">
                            <div class="logo" style="width: 80px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="text-center">
                                <p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>
                            </div>
                            <div style="width: 80px;">
                                <img style="width: 80px;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold">Hurry Up!!</span><span class="text-white">Deal Starts 24<sup>Th</sup> OCT to 3<sup>rd</sup> NOV 2021</span></span></li>
                        </ul>
                        <div class="d-flex">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="card-body text-left pt-0 bg-white col-6">
                                        <div class="card-image d-flex justify-content-center">
                                            <figure class="figure d-flex align-items-center">
                                                <a href="#">
                                                    <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                                </a>
                                            </figure>
                                        </div>
                                        <p class="h6 font-weight-500"><a href="#">@item.Name</a></p>
                                        @*  <span class="h6 text-success font-weight-900">$ @item.OfferPrice <span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>*@
                                        @if (item.OfferPrice > 0)
                                        {
                                            <span class="h6 text-success font-weight-900">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>
                                        }
                                        else
                                        {
                                            <span class="h6 text-success font-weight-900">$ @item.RegularPrice</span>
                                        }
                                    </div>
                                }
                            }
                        </div>
                        <div class="card-footer bg-white">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text text-center mt-0 text-sm mb-0">4525, Ebenezer Road, unit #6, Brampton, ONT, L69 2k8.</p>
                                    <p class="text-sm text-center mb-0"><i class="fas fa-phone fa-rotate-90 mr-2 text-sm"></i>(905) 913-7667</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Two Products*@
            }
            else if (Model.Count() == 4)
            {
                @*Start of Four Products*@
                <div class="col-12 col-md-5 mx-auto">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage4" style="padding: 20px;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2">
                            <div class="logo" style="width: 80px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="text-center">
                                <p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>
                            </div>
                            <div style="width: 80px;">
                                <img style="width: 80px;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold">Hurry Up!!</span><span class="text-white">Deal Starts 24<sup>Th</sup> OCT to 3<sup>rd</sup> NOV 2021</span></span></li>
                        </ul>
                        <div class="d-flex flex-wrap">
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <div class="card-body text-left pt-0 bg-white col-6">
                                        <div class="card-image d-flex justify-content-center">
                                            <figure class="figure d-flex align-items-center">
                                                <a href="#">
                                                    <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                                </a>
                                            </figure>
                                        </div>
                                        <p class="h6 font-weight-500"><a href="#">@item.Name</a></p>
                                        @if (item.OfferPrice > 0)
                                        {
                                            <span class="h6 text-success font-weight-900">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>
                                        }
                                        else
                                        {
                                            <span class="h6 text-success font-weight-900">$ @item.RegularPrice</span>
                                        }
                                        @*<span class="h6 text-success font-weight-900">$ @item.OfferPrice <span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>*@
                                    </div>
                                }
                            }
                        </div>
                        <div class="card-footer bg-white">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text text-center mt-0 text-sm mb-0">4525, Ebenezer Road, unit #6, Brampton, ONT, L69 2k8.</p>
                                    <p class="text-sm text-center mb-0"><i class="fas fa-phone fa-rotate-90 mr-2 text-sm"></i>(905) 913-7667</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Four Products*@
            }
            else if (Model.Count() == 7)
            {
                @*Start of Seven Products*@
                <div class="col-12 col-md-7 mx-auto">
                    <div class="card card-product bg-gradient-primary border-0" id="htmltoimage7" style="padding: 20px;">
                        <div class="card-header d-flex justify-content-between bg-white rounded-top-2">
                            <div class="logo" style="width: 80px;">
                                <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                            </div>
                            <div class="text-center">
                                <p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>
                            </div>
                            <div style="width: 80px;">
                                <img style="width: 80px;"
                                     src="data:image/jpeg;base64,@ViewBag.QRCode">
                            </div>
                        </div>
                        <ul class="list-group list-group-flush bg-transparent">
                            <li class="list-group-item bg-transparent"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold">Hurry Up!!</span><span class="text-white">Deal Starts 24<sup>Th</sup> OCT to 3<sup>rd</sup> NOV 2021</span></span></li>
                        </ul>
                        <div class="d-flex flex-wrap">
                            @if (Model != null)
                            {
                                var last = Model.Last();
                                foreach (var item in Model)
                                {
                                    if (item.Equals(last))
                                    {
                                        <div class="card-body text-left pt-0 bg-white col-12">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="card-image d-flex justify-content-center">
                                                        <figure class="figure d-flex align-items-center">
                                                            <a href="#">
                                                                <img alt="Image placeholder" style="max-height: 250px;" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                                            </a>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <p class="h4 font-weight-bold mt-50 text-uppercase"><a href="#">@item.Name</a></p>
                                                    @if (item.OfferPrice > 0)
                                                    {
                                                        <span class="h3 text-success font-weight-900">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>
                                                    }
                                                    else
                                                    {
                                                        <span class="h3 text-success font-weight-900">$ @item.RegularPrice</span>
                                                    }
                                                    @*<span class="h3 text-success font-weight-900">$ @item.OfferPrice <span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>*@
                                                </div>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="card-body text-left pt-0 bg-white col-4">
                                            <div class="card-image d-flex justify-content-center">
                                                <figure class="figure d-flex align-items-center">
                                                    <a href="#">
                                                        <img alt="Image placeholder" style="max-height: 170px;" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                                    </a>
                                                </figure>
                                            </div>
                                            <p class="h6 font-weight-500"><a href="#">@item.Name</a></p>
                                            @if (item.OfferPrice > 0)
                                            {
                                                <span class="h6 text-success font-weight-900">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>
                                            }
                                            else
                                            {
                                                <span class="h6 text-success font-weight-900">$ @item.RegularPrice</span>
                                            }
                                            @* <span class="h6 text-success font-weight-900">$ @item.OfferPrice <span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>*@
                                        </div>
                                    }

                                }
                            }
                        </div>
                        <div class="card-footer bg-white">
                            <div class="row">
                                <div class="col-12">
                                    <p class="card-text text-center mt-0 text-sm mb-0">4525, Ebenezer Road, unit #6, Brampton, ONT, L69 2k8.</p>
                                    <p class="text-sm text-center mb-0"><i class="fas fa-phone fa-rotate-90 mr-2 text-sm"></i>(905) 913-7667</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End of Seven Products*@
            }
            <div class="offset-3 col-lg-6 text-center">
                <button onclick="downloadimage()" class="btn btn-primary">Click To Download Image</button>
            </div>
        }
    </div>
</div>


<script src="~/Content/assets/libs/html2canavas/html2canvas.js"></script>
<script type="text/javascript">

        function downloadimage() {
            var container= '@Session["FlyerType"]'
            if (container == null) {
                container = document.getElementById('htmltoimage'); // full page
            }
            else {
                var container = document.getElementById('htmltoimage' + container); // full page
            }

                html2canvas(container, { useCORS: true }).then(function (canvas) {
                var imgBase64 = canvas.toDataURL();

                var imgURL = "data:image/" + imgBase64;
                var triggerDownload = $("<a>").attr("href", imgURL).attr("download", "layout_" + new Date().getTime() + ".jpeg").appendTo("body");
                triggerDownload[0].click();
                triggerDownload.remove();
            });
        }
        var requestedPage = null;
        $(document).ready(function () {

            //let loc = $(location).attr('href');
            //var parts = loc.split('/');
            //var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
            //console.log(lastSegment);
            //requestedPage = lastSegment;
            //console.log(requestedPage);
            var requestedPage= '@Session["FlyerType"]';
            $('#product-' + requestedPage).removeClass('d-none');
        });

        /**/</script>


