@model IEnumerable<AceVowEntities.PreviewDeals>

@{
    ViewBag.Title = "SingleProductFlyer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/assets/css/products.css" rel="stylesheet" />*@
<div class="container">
    <div class="row">
        @if (Model.Count() == 1)
        {
            @*Single Product*@
            <div class="mx-auto">
                <div class="card card-product bg-gradient-primary border-0" id="htmltoimage1" style="width: 765px; height: 978px; padding: 20px; background: linear-gradient( 360deg, rgba(174,40,138,1) 0%, rgba(234,60,119,1) 100%) !important;">
                    <div class="card-header d-flex justify-content-between bg-white rounded-top-2" style="padding: 0.45rem 1.5rem;">
                        <div class="logo" style="width: 150px;">
                            <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                        </div>
                        <div class="text-center">
                            @*<p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>*@
                            <img style="width: 150px;" src="https://image.shutterstock.com/image-vector/modern-red-best-deals-sign-260nw-212919580.jpg">
                        </div>
                        <div style="width: 120px;padding: 15px 0px;">
                            <img style="width: 100%;"
                                 src="data:image/jpeg;base64,@ViewBag.QRCode">
                        </div>
                    </div>
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item bg-transparent" style="padding: 0.3rem 1.5rem;"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold" style="font-size: 30px;font-weight: bold;color: yellow !important;margin-left: 10px;">Hurry Up!!</span><span class="text-white" style="margin-top: 4px;font-weight: bold; font-size: 25px;">Deal Starts <span style="color: #ff0;">24<sup>th</sup> OCT </span>to <span style="color: #ff0;">3<sup>rd</sup> NOV</span> 2021</span></span></li>
                    </ul>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <div class="card-body text-left pt-0 bg-white" style="position: relative; height: 579.03px">
                                <div class="card-image d-flex justify-content-center">
                                    <figure class="figure" style="height: 400px;">
                                        <a href="#">
                                            <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid " style="height: 100%;" />
                                        </a>
                                    </figure>
                                    <img alt="Image placeholder" src="~/Content/assets/img/offers/3.png" class="img-center img-fluid w-100" style="position: absolute;right: 0;width: 200px !important;bottom: 0;" />
                                </div>
                                <p class="h5 font-weight-500"><a href="#" style="font-size: 30px;color: #000;font-weight: bold;">@item.Name<span class="text-warning font-weight-900"> </span></a></p>

                                @if (item.OfferPrice > 0)
                                {
                                    <span class="h3 text-success" style="font-size: 30px;font-weight: bold;">$ @item.OfferPrice<span class="text-line-through text-muted ml-2 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                }
                                else
                                {
                                    <span class="h3 text-success" style="font-size: 30px;font-weight: bold;">
                                        $ @item.RegularPrice
                                    </span>
                                }
                            </div>
                        }
                    }
                    <div class="card-footer bg-transparent text-center">
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text mt-2 text-white font-weight-bold" style="font-size: 20px;">@ViewBag.Address</p>
                            </div>
                            <div class="col-6">
                                <p class="card-text text-white mt-2 mb-0 font-weight-bold" style="font-size: 20px;">Contact us for more information</p>
                                <p class="font-weight-bold text-white" style="font-size: 20px;"><i class="fas fa-phone fa-rotate-90 mr-2"></i>@ViewBag.PirmaryContact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*End of Single Product*@
        }
        else if (Model.Count() == 2)
        {
            @*Two Products*@
            <div class="mx-auto">
                <div class="card card-product bg-gradient-primary border-0" id="htmltoimage2" style="width: 765px; height: 978px; padding: 20px; background: linear-gradient( 360deg, rgba(174,40,138,1) 0%, rgba(234,60,119,1) 100%) !important;">
                    <div class="card-header d-flex justify-content-between bg-white rounded-top-2" style="padding: 0.45rem 1.5rem;">
                        <div class="logo" style="width: 150px;">
                            <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                        </div>
                        <div class="text-center">
                            @*<p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>*@
                            <img style="width: 150px;" src="https://image.shutterstock.com/image-vector/modern-red-best-deals-sign-260nw-212919580.jpg">
                        </div>
                        <div style="width: 120px;padding: 15px 0px;">
                            <img style="width: 100%;"
                                 src="data:image/jpeg;base64,@ViewBag.QRCode">
                        </div>
                    </div>
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item bg-transparent" style="padding: 0.3rem 1.5rem;"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold" style="font-size: 30px;font-weight: bold;color: yellow !important;margin-left: 10px;">Hurry Up!!</span><span class="text-white" style="margin-top: 4px;font-weight: bold; font-size: 25px;">Deal Starts <span style="color: #ff0;">24<sup>th</sup> OCT </span>to <span style="color: #ff0;">3<sup>rd</sup> NOV</span> 2021</span></span></li>
                    </ul>
                    <div class="d-flex align-items-center bg-white" style="position: relative; height: 579.03px">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="card-body text-left pt-0 bg-white col-6">
                                    <div class="card-image d-flex justify-content-center">
                                        <figure class="figure d-flex align-items-center">
                                            <a href="#">
                                                <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                            </a>
                                        </figure>
                                        <img alt="Image placeholder" src="~/Content/assets/img/offers/5.png" class="img-center img-fluid w-100" style="position: absolute;left: 0;width: 100px !important;top: 0;" />
                                    </div>
                                    <p class="h5 font-weight-500"><a href="#" style="color: #000;font-weight: bold;">@item.Name<span class="text-warning font-weight-900"> </span></a></p>

                                    @if (item.OfferPrice > 0)
                                    {
                                        <span class="h3 text-success" style="font-size: 30px;font-weight: bold;">$ @item.OfferPrice<span class="text-line-through text-muted ml-2 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                    }
                                    else
                                    {
                                        <span class="h3 text-success" style="font-size: 30px;font-weight: bold;">
                                            $ @item.RegularPrice
                                        </span>
                                    }

                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text mt-2 text-white font-weight-bold" style="font-size: 20px;">@ViewBag.Address</p>
                            </div>
                            <div class="col-6">
                                <p class="card-text text-white mt-2 mb-0 font-weight-bold" style="font-size: 20px;">Contact us for more information</p>
                                <p class="font-weight-bold text-white" style="font-size: 20px;"><i class="fas fa-phone fa-rotate-90 mr-2"></i>@ViewBag.PirmaryContact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*End of Two Products*@
        }
        else if (Model.Count() == 4)
        {
            @*Start of Four Products*@
            <div class="mx-auto">
                <div class="card card-product bg-gradient-primary border-0" id="htmltoimage4" style="width: 765px; height: 978px; padding: 20px; background: linear-gradient( 360deg, rgba(174,40,138,1) 0%, rgba(234,60,119,1) 100%) !important;">
                    <div class="card-header d-flex justify-content-between bg-white rounded-top-2" style="padding: 0.45rem 1.5rem;">
                        <div class="logo" style="width: 150px;">
                            <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                        </div>
                        <div class="text-center">
                            @*<p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>*@
                            <img style="width: 150px;" src="https://image.shutterstock.com/image-vector/modern-red-best-deals-sign-260nw-212919580.jpg">
                        </div>
                        <div style="width: 120px;padding: 15px 0px;">
                            <img style="width: 100%;"
                                 src="data:image/jpeg;base64,@ViewBag.QRCode">
                        </div>
                    </div>
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item bg-transparent" style="padding: 0.3rem 1.5rem;"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold" style="font-size: 30px;font-weight: bold;color: yellow !important;margin-left: 10px;">Hurry Up!!</span><span class="text-white" style="margin-top: 4px;font-weight: bold; font-size: 25px;">Deal Starts <span style="color: #ff0;">24<sup>th</sup> OCT </span>to <span style="color: #ff0;">3<sup>rd</sup> NOV</span> 2021</span></span></li>
                    </ul>
                    <div class="d-flex flex-wrap align-items-center bg-white" style="height: 618.03px">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="card-body text-left pt-0 bg-white col-6" style="position: relative; border: 1px solid #efefef;">
                                    <div class="card-image d-flex justify-content-center">
                                        <figure class="figure d-flex align-items-center" style="max-height: 150px;">
                                            <a href="#">
                                                <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100" style="max-height: 150px;">
                                            </a>
                                        </figure>
                                        <img alt="Image placeholder" src="~/Content/assets/img/offers/6.png" class="img-center img-fluid w-100" style="position: absolute;left: 0;width: 70px !important;top: 0;" />
                                    </div>
                                    <p class="h5 font-weight-500"><a href="#" style="font-size: 25px;color: #000;font-weight: bold;">@item.Name<span class="text-warning font-weight-900"></span></a></p>
                                    @if (item.OfferPrice > 0)
                                    {
                                        <span class="h3 text-success" style="font-size: 25px;font-weight: bold;">$ @item.OfferPrice<span class="text-line-through text-muted ml-2 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                    }
                                    else
                                    {
                                        <span class="h3 text-success" style="font-size: 25px;font-weight: bold;">
                                            $ @item.RegularPrice
                                        </span>
                                    }


                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text mt-2 text-white font-weight-bold" style="font-size: 20px;">@ViewBag.Address</p>
                            </div>
                            <div class="col-6">
                                <p class="card-text text-white mt-2 mb-0 font-weight-bold" style="font-size: 20px;">Contact us for more information</p>
                                <p class="font-weight-bold text-white" style="font-size: 20px;"><i class="fas fa-phone fa-rotate-90 mr-2"></i>@ViewBag.PirmaryContact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*End of Four Products*@
        }
        else if (Model.Count() == 6)
        {
            @*Start of Four Products*@
            <div class="mx-auto">
                <div class="card card-product bg-gradient-primary border-0" id="htmltoimage6" style="width: 765px; height: 978px; padding: 20px; background: linear-gradient( 360deg, rgba(174,40,138,1) 0%, rgba(234,60,119,1) 100%) !important;">
                    <div class="card-header d-flex justify-content-between bg-white rounded-top-2" style="padding: 0.45rem 1.5rem;">
                        <div class="logo" style="width: 150px;">
                            <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                        </div>
                        <div class="text-center">
                            @*<p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                                <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>*@
                            <img style="width: 150px;" src="https://image.shutterstock.com/image-vector/modern-red-best-deals-sign-260nw-212919580.jpg">
                        </div>
                        <div style="width: 120px;padding: 15px 0px;">
                            <img style="width: 100%;"
                                 src="data:image/jpeg;base64,@ViewBag.QRCode">
                        </div>
                    </div>
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item bg-transparent" style="padding: 0.3rem 1.5rem;"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold" style="font-size: 30px;font-weight: bold;color: yellow !important;margin-left: 10px;">Hurry Up!!</span><span class="text-white" style="margin-top: 4px;font-weight: bold; font-size: 25px;">Deal Starts <span style="color: #ff0;">24<sup>th</sup> OCT </span>to <span style="color: #ff0;">3<sup>rd</sup> NOV</span> 2021</span></span></li>
                    </ul>
                    <div class="d-flex flex-wrap align-items-center bg-white" style="height: 618.03px">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <div class="card-body text-left pt-0 bg-white col-4" style="position: relative; border: 1px solid #efefef;">
                                    <div class="card-image d-flex justify-content-center">
                                        <figure class="figure d-flex align-items-center" style="max-height: 150px;">
                                            <a href="#">
                                                <img alt="Image placeholder" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100" style="max-height: 150px;">
                                            </a>
                                        </figure>
                                        <img alt="Image placeholder" src="~/Content/assets/img/offers/6.png" class="img-center img-fluid w-100" style="position: absolute;left: 0;width: 70px !important;top: 0;" />
                                    </div>
                                    <p class="h5 font-weight-500"><a href="#" style="font-size: 15px;color: #000;font-weight: bold;">@item.Name<span class="text-warning font-weight-900"></span></a></p>
                                    @if (item.OfferPrice > 0)
                                    {
                                        <span class="h3 text-success" style="font-size: 20px;font-weight: bold;">$ @item.OfferPrice<span class="text-line-through text-muted ml-2 h5 font-weight-300">$ @item.RegularPrice</span></span>
                                    }
                                    else
                                    {
                                        <span class="h3 text-success" style="font-size: 20px;font-weight: bold;">
                                            $ @item.RegularPrice
                                        </span>
                                    }


                                </div>
                            }
                        }
                    </div>
                    <div class="card-footer bg-transparent text-center">
                        <div class="row">
                            <div class="col-6">
                                <p class="card-text mt-2 text-white font-weight-bold" style="font-size: 20px;">@ViewBag.Address</p>
                            </div>
                            <div class="col-6">
                                <p class="card-text text-white mt-2 mb-0 font-weight-bold" style="font-size: 20px;">Contact us for more information</p>
                                <p class="font-weight-bold text-white" style="font-size: 20px;"><i class="fas fa-phone fa-rotate-90 mr-2"></i>@ViewBag.PirmaryContact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*End of Four Products*@
        }
        else if (Model.Count() == 7)
        {
            @*Start of Seven Products*@
            <div class="col-12 col-md-7 mx-auto">
                <div class="card card-product bg-gradient-primary border-0" id="htmltoimage7" style="padding: 20px;">
                    <div class="card-header d-flex justify-content-between bg-white rounded-top-2">
                        <div class="logo" style="width: 80px;">
                            <img style="width: 100%;" src="data:image/jpeg;base64,@ViewBag.ClientLogo">
                        </div>
                        <div class="text-center">
                            <p class="mt-3 font-weight-bold text-success mb-2">SCAN FOR</p>
                            <p class="font-weight-bold mb-0 text-danger">MORE OFFER</p>
                        </div>
                        <div style="width: 80px;">
                            <img style="width: 80px;"
                                 src="data:image/jpeg;base64,@ViewBag.QRCode">
                        </div>
                    </div>
                    <ul class="list-group list-group-flush bg-transparent">
                        <li class="list-group-item bg-transparent"><span class="d-flex justify-content-between"><span class="text-white font-weight-bold">Hurry Up!!</span><span class="text-white">Deal Starts 24<sup>Th</sup> OCT to 3<sup>rd</sup> NOV 2021</span></span></li>
                    </ul>
                    <div class="d-flex flex-wrap">
                        @if (Model != null)
                        {
                            var last = Model.Last();
                            foreach (var item in Model)
                            {
                                if (item.Equals(last))
                                {
                                    <div class="card-body text-left pt-0 bg-white col-12">
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="card-image d-flex justify-content-center">
                                                    <figure class="figure d-flex align-items-center">
                                                        <a href="#">
                                                            <img alt="Image placeholder" style="max-height: 250px;" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                                        </a>
                                                    </figure>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <p class="h4 font-weight-bold mt-50 text-uppercase"><a href="#">@item.Name<span class="text-warning font-weight-900"></span></a></p>

                                                @if (item.OfferPrice > 0)
                                                {
                                                    <span class="h3 text-success font-weight-900">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>
                                                }
                                                else
                                                {
                                                    <span class="h3 text-success font-weight-900">
                                                        $ @item.RegularPrice
                                                    </span>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="card-body text-left pt-0 bg-white col-4">
                                        <div class="card-image d-flex justify-content-center">
                                            <figure class="figure d-flex align-items-center">
                                                <a href="#">
                                                    <img alt="Image placeholder" style="max-height: 170px;" src="data:image/png;base64,@item.image" class="img-center img-fluid w-100">
                                                </a>
                                            </figure>
                                        </div>
                                        <p class="h6 font-weight-500"><a href="#">@item.Name<span class="text-warning font-weight-900"></span></a></p>
                                        <span class="h6 text-success font-weight-900">$ @item.OfferPrice<span class="text-line-through text-muted ml-4 h6 font-weight-300">$ @item.RegularPrice</span></span>
                                    </div>
                                }

                            }
                        }
                    </div>
                    <div class="card-footer bg-white">
                        <div class="row">
                            <div class="col-12">
                                <p class="card-text text-center mt-0 text-sm mb-0">@ViewBag.Address</p>
                                <p class="text-sm text-center mb-0"><i class="fas fa-phone fa-rotate-90 mr-2 text-sm"></i>@ViewBag.PirmaryContact</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @*End of Seven Products*@
        }
        <div class="offset-3 col-lg-6 text-center">
            <button onclick="downloadimage()" class="btn btn-primary">Click To Download Image</button>
        </div>
    </div>
</div>


<script src="~/Content/assets/libs/html2canavas/html2canvas.js"></script>
<script type="text/javascript">

        function downloadimage() {
            var container= '@Session["FlyerType"]'
            if (container == null) {
                container = document.getElementById('htmltoimage'); // full page
            }
            else {
                var container = document.getElementById('htmltoimage' + container); // full page
            }

                html2canvas(container, { useCORS: true }).then(function (canvas) {
                var imgBase64 = canvas.toDataURL();

                var imgURL = "data:image/" + imgBase64;
                var triggerDownload = $("<a>").attr("href", imgURL).attr("download", "layout_" + new Date().getTime() + ".jpeg").appendTo("body");
                triggerDownload[0].click();
                triggerDownload.remove();
            });
        }
        var requestedPage = null;
        $(document).ready(function () {

            //let loc = $(location).attr('href');
            //var parts = loc.split('/');
            //var lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
            //console.log(lastSegment);
            //requestedPage = lastSegment;
            //console.log(requestedPage);
            var requestedPage= '@Session["FlyerType"]';
            $('#product-' + requestedPage).removeClass('d-none');
        });

        /**/</script>


