@model AceVowEntities.ClientUser
<link href="~/Content/assets/libs/material-wizard/css/material-bootstrap-wizard.css" rel="stylesheet" />
<div class="page-content">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Edit Client</h5>
                </div>
                <!-- Additional info -->
                <div class="align-items-center ml-4 d-inline-flex">
                    <span class="h4 text-info mb-0 mr-2">9</span>
                    <span class="text-sm opacity-7 text-white">New products</span>
                </div>
                <!-- Optional link -->
                <a href="card-listing.html" class="text-sm text-info d-none d-lg-inline-block ml-4">
                    See
                    cards
                </a>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="actions actions-dark d-inline-block">
                    <a href="#" class="action-item ml-md-4">
                        <i class="far fa-file-export mr-2"></i>Export
                    </a>
                    <a href="#" class="action-item ml-3">
                        <i class="far fa-cog mr-2"></i>Settings
                    </a>
                </div>
                <a href="#" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4">
                    <span class="btn-inner--icon"><i class="far fa-plus"></i></span>
                </a>
            </div>
        </div>
    </div>
    <div class="card wizard-card" data-color="red" id="wizard">

        <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->

        <div class="wizard-header">
            <h3 class="wizard-title">
                Edit Client Details
            </h3>
        </div>
        <div class="wizard-navigation">
            <ul>
                <li><a href="#basicInfo" data-toggle="tab">Basic Info</a></li>
                <li><a href="#contactDetails" data-toggle="tab">Contact Details</a></li>
                <li><a href="#categories" data-toggle="tab">Categories</a></li>
                <li><a href="#logoBannerUpload" data-toggle="tab">Logo and Banner Upload</a></li>
            </ul>
        </div>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.HiddenFor(model => model.Id)
            <div class="tab-content">
                <div class="tab-pane" id="basicInfo">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Industry</label>
                                @if (Model != null)
                                {
                                    <select class="form-control" id="ddlIndustry">
                                        <option value="0">-Select-</option>
                                        @foreach (var childCat in Model.lstIndustry)
                                        {
                                            @*<input type="checkbox" checked class="chkCat" value="@childCat.Id" />
                                                <label>@childCat.Name</label>*@
                                            <option value="@childCat.IndustryId">@childCat.Name</option>
                                        }
                                    </select>
                                }
                                @*  @Html.TextBoxFor(model => model.Industry, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter RI Name", @maxlength = "200" })*@
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Store Name</label>
                                @Html.TextBoxFor(model => model.StoreName, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter StoreName Name", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Store URL</label>
                                @Html.TextBoxFor(model => model.StoreURL, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter StoreURL", @maxlength = "200" })
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Password</label>
                                @Html.TextBoxFor(model => model.Password, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter StoreURL", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input class="form-control form-control-sm" type="text" name="ConfirmPassword" placeholder="Confirm Password">
                            </div>
                        </div>


                    </div>
                </div>
                <div class="tab-pane" id="contactDetails">
                    <h4 class="mb-3">Contact Info</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Contact Name
                                </label>
                                @Html.TextBoxFor(model => model.ContactName, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Contact Name", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Position</label>
                                @Html.TextBoxFor(model => model.Positon, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Postion", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Primary Contact Number
                                </label>
                                @Html.TextBoxFor(model => model.PirmaryContact, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Primary Contact", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    EmailId
                                </label>
                                @Html.TextBoxFor(model => model.EmailId, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter EmailId", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Address Line 1
                                </label>
                                @Html.TextBoxFor(model => model.AddressLine1, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Address 1", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Address Line 2
                                </label>
                                @Html.TextBoxFor(model => model.AddressLine2, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Address 2", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>City</label>
                                @Html.TextBoxFor(model => model.City, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter City", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Postal Code</label>
                                @Html.TextBoxFor(model => model.PostalCode, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter PostalCode", @maxlength = "200" })
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3">Other Info</h4>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Targeted Cities
                                </label>
                                @Html.TextBoxFor(model => model.TargetedCities, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Targeted Cities", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Targeted Communities
                                </label>
                                @Html.TextBoxFor(model => model.TargetedCommunities, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Targeted Communities", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>
                                    Welcome Message
                                </label>
                                @Html.TextBoxFor(model => model.WelcomeMessage, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Welcome Message", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Trolly Count
                                </label>
                                @Html.TextBoxFor(model => model.TrolleryCount, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Trolly Count", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>
                                    Basket Count
                                </label>
                                @Html.TextBoxFor(model => model.BasketCount, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Basket Count", @maxlength = "200" })
                            </div>
                        </div>
                    </div>
                    <h4 class="mb-3">Your Social Media Links</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Facebook Url
                                </label>
                            </div>
                            <div class="input-group mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">
                                        <i class="fab fa-facebook-square"></i>
                                    </span>
                                </div>

                                @Html.TextBoxFor(model => model.ClientFBUrl, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Facebook Url", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Twitter Url
                                </label>
                            </div>
                            <div class="input-group mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">
                                        <i class="fab fa-twitter"></i>
                                    </span>
                                </div>

                                @Html.TextBoxFor(model => model.ClientTwitterUrl, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Twitter Url", @maxlength = "200" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>
                                    Instagram Url
                                </label>
                            </div>
                            <div class="input-group mb-3">

                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">
                                        <i class="fab fa-instagram"></i>
                                    </span>
                                </div>

                                @Html.TextBoxFor(model => model.ClientInstaUrl, new { @class = "form-control form-control-sm w-full", @placeholder = "Enter Instagram Url", @maxlength = "200" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="categories">
                    <h4 class="mb-3">Select Categories</h4>

                    <div class="myaccount-info-wrapper">
                        <div class="entries-wrapper">
                            <div id="divCategory" class="row">
                                @if (Model.lstCategory != null)
                                {
                                    foreach (var childCat in Model.lstCategory)
                                    {
                                        <div class="col-lg-6 col-md-6">
                                            <div class="entries-info">
                                                <input type="checkbox" name="lstCategory" checked class="chkCat" value="@childCat.Id" />
                                                <label>@childCat.Name</label>

                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="logoBannerUpload">
                    <h4 class="mb-3">Logo & Banner upload</h4>
                    <div id="img-area" class="panel-collapse show">
                        <div class="panel-body">
                            <div class="myaccount-info-wrapper">
                                <div class="entries-wrapper">

                                    <div class="row">
                                        <div class="form-group  col-sm-12">
                                            <label for="exampleFormControlFile1">Client Banner</label>
                                            <input type="file" name="ImageFileBanner" accept=".jpg,.png,.jpg,.jpeg" class="form-control-file">
                                        </div>
                                        <div class="form-group col-sm-12">
                                            <label for="exampleFormControlFile1">Client Logo</label>
                                            <input type="file" name="ImageFileLogo" accept=".jpg,.png,.jpg,.jpeg" class="form-control-file">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wizard-footer row mb-4">
                <div class="col-6">
                    <input type='button' class='btn btn-previous btn-fill btn-default btn-sm' name='previous' value='Previous' />
                </div>
                <div class="col-6 text-right">
                    <input type='button' class='btn btn-next btn-fill btn-primary btn-sm' name='next' value='Next' />
                    <input type='submit' class='btn btn-finish btn-fill btn-primary btn-sm' name='finish' value='Finish' />
                </div>
                <div class="clearfix"></div>
            </div>
        }


    </div>
</div>
<div>


</div>
<script src="~/Content/assets/libs/material-wizard/js/jquery.bootstrap.js"></script>
<script src="~/Content/assets/libs/material-wizard/js/jquery.validate.min.js"></script>
<script src="~/Content/assets/libs/material-wizard/js/material-bootstrap-wizard.js"></script>
<script type="text/javascript">

    $("#ddlIndustry").change(function (e) {
        //var div = $('#divCategory').html();
        $('#divCategory').empty();
        var IndustryId = 0;
        var id = 0;
        IndustryId = $('#ddlIndustry').val();
        $('#hdnId').val(id);
        $.ajax({
            url: "EditClient",
            data: { hdnId: id, IndustryId: IndustryId },
            cache: false,
            type: "GET",
            success: function (data) {
                $.each(data.lstCategory, function (key, value) {
                    $('#divCategory').append('<div class="col-lg-6 col-md-6"><div class="entries-info"><input type="checkbox" checked class="chkCat" value=' + value.Id + ' /><label>' + value.Name + '</label></div></div>');
                });
            },
            error: function (reponse) {
                alert("error : " + reponse);
            }
        });
       
    });

</script>